<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>215710071111-2fejvo7npc0ic9phb1lj26qh7bj9m8q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215710071111-2fejvo7npc0ic9phb1lj26qh7bj9m8q4</string>
	<key>API_KEY</key>
	<string>AIzaSyCDcifMwsYhRU4E5-7gnmNL2W8bq9_kHvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>215710071111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wizeline.brainstormingapp</string>
	<key>PROJECT_ID</key>
	<string>brain-storming-87efd</string>
	<key>STORAGE_BUCKET</key>
	<string>brain-storming-87efd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215710071111:ios:3218f0540bc42e0d</string>
	<key>DATABASE_URL</key>
	<string>https://brain-storming-87efd.firebaseio.com</string>
</dict>
</plist>